*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
scroll-behavior:smooth;
}

body{
background:#0f172a;
color:white;
}

header{
position:fixed;
width:100%;
background:#111827;
padding:15px 10%;
z-index:999;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:#38bdf8;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
transition:.3s;
}

.nav-links a:hover{
color:#38bdf8;
}

.menu-btn{
display:none;
font-size:28px;
cursor:pointer;
}

.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:150px 10%;
min-height:100vh;
flex-wrap:wrap;
}

.hero h1{
font-size:60px;
color:#38bdf8;
}

.hero h2{
margin:20px 0;
}

.hero p{
line-height:1.8;
max-width:600px;
}

.btn{
display:inline-block;
margin-top:30px;
padding:12px 28px;
background:#38bdf8;
color:white;
text-decoration:none;
border-radius:30px;
}

.circle{
height:300px;
width:300px;
background:#38bdf8;
border-radius:50%;
display:flex;
justify-content:center;
align-items:center;
font-size:120px;
}

section{
padding:90px 10%;
}

section h2{
text-align:center;
font-size:40px;
margin-bottom:40px;
color:#38bdf8;
}

.about p{
max-width:900px;
margin:auto;
text-align:center;
line-height:2;
}

.skill-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
gap:25px;
}

.card{
background:#1e293b;
padding:30px;
text-align:center;
border-radius:12px;
transition:.4s;
}

.card:hover{
transform:translateY(-8px);
background:#38bdf8;
}

.card i{
font-size:45px;
margin-bottom:20px;
}

.project-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:25px;
}

.project-card{
background:#1e293b;
padding:30px;
border-radius:10px;
transition:.4s;
}

.project-card:hover{
transform:scale(1.05);
}

form{
max-width:600px;
margin:auto;
display:flex;
flex-direction:column;
gap:20px;
}

input,textarea{
padding:15px;
border:none;
border-radius:8px;
font-size:16px;
}

button{
padding:15px;
background:#38bdf8;
border:none;
color:white;
cursor:pointer;
border-radius:8px;
}

footer{
text-align:center;
padding:25px;
background:#111827;
}

#topBtn{
position:fixed;
bottom:30px;
right:30px;
background:#38bdf8;
border:none;
width:50px;
height:50px;
border-radius:50%;
display:none;
cursor:pointer;
}

.reveal{
opacity:0;
transform:translateY(80px);
transition:1s;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

@media(max-width:768px){

.nav-links{
display:none;
position:absolute;
top:70px;
left:0;
width:100%;
background:#111827;
flex-direction:column;
text-align:center;
padding:20px 0;
}

.nav-links.active{
display:flex;
}

.menu-btn{
display:block;
}

.hero{
text-align:center;
justify-content:center;
}

.hero-image{
margin-top:50px;
}

.hero h1{
font-size:45px;
}

.circle{
height:220px;
width:220px;
font-size:90px;
}

}

